{% include 'mqtt_app/partials/doctype.html' %}
<body>
    {% include 'mqtt_app/partials/sidebarheader.html' %}
     <!-- CONTEÚDO PRINCIPAL: TELA DE SUCESSO -->
    <main class="main-content container">
        
        <div class="success-card">
            <i class="fas fa-check-circle success-icon"></i>
            <h1>SUCESSO!</h1>
            <p>Sua tomada inteligente está conectada e pronta para uso.</p>
            <p style="margin-top: 1.5rem; color: var(--color-primary); font-weight: 600;">Use o menu lateral para gerenciar os seus dispositivos.</p>
        </div>

    </main>
