{% include 'mqtt_app/partials/doctype.html' %}
<body>
    {% include 'mqtt_app/partials/sidebarheader.html' %}

    <form action="{% url 'publish_10s' %}" method="POST">
    {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg">
            <i class="fas fa-plus me-2"></i> 10s
        </button>
    </form>

    <form action="{% url 'publish_30s' %}" method="POST">
    {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg">
            <i class="fas fa-plus me-2"></i> 30s
        </button>
    </form>

    <form action="{% url 'publish_1m' %}" method="POST">
    {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg">
            <i class="fas fa-plus me-2"></i> 1m
        </button>
    </form>
</body>
</html>